DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="wallet"
DATABASE_SSL_MODE="disable"
DATABASE_MAX_OPEN_CONNS=50
DATABASE_MAX_IDLE_CONNS=5

PRIVATE_KEY=private_key
PUBLIC_KEY=publick_key
HASHID_SALT=salt
HASHID_MIN_LENGTH=10
PORT="6666"
